@import "reset";
@import "base";

.alert {
  background: $grey;
  text-align: center;
  padding: $xs 0;
}

.header {
  background: $primary;
  box-shadow: $inset;
  padding: $lg 0;
  color: $white;
  .header__image {
    border-radius: 50%;
    border: $xs solid $white;
    align-self: center;
    box-shadow: $shadow;
  }
  .header__info {
    grid-column: span 2;
    align-self: center;
  }
  ul.header__social {
    display: flex;
    margin-top: $sm;
    li {
      margin-left: $sm;
      font-size: calc(#{$md} - #{$xs});
    }
    li:first-of-type {
      margin-left: 0;
    }
  }
}

.footer {
  background: $primary;
  box-shadow: $inset;
  padding: $xs 0;
  text-align: center;
  color: $white;
}

.about {
  p:last-of-type {
    margin-bottom: $md;
  }
  ul.about__facts li {
    display: flex;
    align-items: center;
    margin-bottom: $sm;
    span {
      color: $primary;
      font-size: $md;
      padding-right: $sm;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
