@import "reset";
@import "base";

.alert {
  background: $white;
  padding: $xs 0;
  small {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  span {
    margin-right: $xs;
  }
}

.header {
  background: $primary;
  box-shadow: $inset;
  padding: $lg 0;
  color: $white;
  .header__image {
    border-radius: 50%;
    border: $xs solid $white;
    align-self: center;
    box-shadow: $shadow;
    overflow: hidden;
  }
  .header__info {
    grid-column: span 2;
    align-self: center;
    a:link,
    a:visited {
      color: lighten($primary, 28%);
      text-decoration: underline;
    }
    a:hover,
    a:active {
      color: $white;
    }
  }
  ul.header__social {
    display: flex;
    margin-top: $sm;
    li {
      margin-left: $sm;
      font-size: calc(#{$md} - #{$xs});
    }
    li:first-of-type {
      margin-left: 0;
    }
  }
}

.footer {
  background: $primary;
  box-shadow: $inset;
  padding: $xs 0;
  text-align: center;
  color: lighten($primary, 28%);
}

.about {
  p:last-of-type {
    margin-bottom: $md;
  }
  ul.about__facts {
    border-bottom: $xs solid $grey;
    li {
      display: flex;
      align-items: center;
      margin-bottom: $sm;
      span {
        color: $primary;
        font-size: $md;
        padding-right: $sm;
      }
      &:last-of-type {
        margin-bottom: $md;
      }
    }
  }
}

.hire {
  .hire__skills {
    margin-top: $sm;
    li {
      strong {
        display: block;
        font-style: normal;
      }
      margin-bottom: $xs;
      font-style: italic;
      &:last-of-type {
        margin-bottom: $sm;
      }
    }
  }
  .hire__learning {
    border: $xs solid $grey;
    padding: $sm;
    border-radius: $sm;
    h4 {
      margin-bottom: 0;
    }
  }
}

.project {
  grid-gap: 0 $md;
  margin-bottom: $lg;
  h2 {
    grid-column: span 3;
  }
  .project__image {
    grid-column: span 3;
    margin-bottom: $sm;
  }
  .project__overview {
    grid-column: span 2;
    align-self: flex-start;
  }
  ul.project__preview {
    display: flex;
    align-items: center;
    margin-top: $sm;
    li {
      margin-left: $sm;
      &:first-of-type {
        margin-left: 0;
      }
      a {
        display: flex;
        align-items: center;
        font-size: $md;
        span {
          font-size: 14px;
          margin-left: $xs;
        }
      }
    }
  }
  ul.project__tech {
    display: flex;
    font-size: 14px;
    margin-top: $sm;
    li {
      margin-left: $xs;
      font-style: italic;
      &:first-of-type {
        margin-left: 0;
      }
      strong {
        color: $primary;
        font-style: normal;
      }
    }
  }
  .project__role {
    grid-column: span 1;
    border: $xs solid $grey;
    padding: $sm;
    border-radius: $sm;
    align-self: flex-start;
    strong {
      display: block;
      color: $primary;
    }
    @media (max-width: #{$break}) {
      margin-top: $sm;
      strong {
        display: inline;
        padding-right: $xs;
      }
    }
  }
}
